/*Nav*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html,
body,
#map {
	height: 100%;
}

#home {
	margin: 0;
	padding: 0;
}

.navbar a {
    /* background: black; */
    font-size: 2rem;
}

#search {
	position: relative;
}

#resultado {
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 100;
	width: 100%;
}

#map {
	height: 65vh;
}

.buttons {
	width: 100vw;
	height: 10vh;
}

.btn-map {
    color: white;
    background: black;
    margin: .5rem;
    padding: .8rem;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}


/* estrellas */

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input[type="radio"]:checked~label {
    color: #F2B600;
}

@media (max-width: 768px) {

	#search,
	#search input {
		width: 100%;
	}
}