body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
}

#home {
    margin: 0;
    padding: 0;
}

#search {
    position: relative;
}

#resultado {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
    width: 100%;
}

#map {
    height: 65vh;
}

.buttons {
    width: 100vw;
    height: 10vh;
}

.btn-map {
    color: white;
    background: black;
    margin: .5rem;
    padding: .5rem;
}

@media (max-width: 768px) {
    #search,
    #search input {
        width: 100%;
    }
}