/*Nav*/
body {
	margin: 0;
	padding: 0;
}

.hamburger {
	position: fixed;
	background-color: transparent;
	left: 0;
	top: 0;
	height: 30px;
	width: 30px;
	padding: 20px 20px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index: 1002;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.hamburger.is-active {
	background-color: none;
}

._layer {
	background: #333333;
	margin-bottom: 4px;
	border-radius: 2px;
	width: 28px;
	height: 4px;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger:hover .-top {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.hamburger:hover .-bottom {
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.hamburger.is-active .-top {
	-webkit-transform: translateY(200%) rotate(45deg) !important;
	-ms-transform: translateY(200%) rotate(45deg) !important;
	transform: translateY(200%) rotate(45deg) !important;
}

.hamburger.is-active .-mid {
	opacity: 0;
}

.hamburger.is-active .-bottom {
	-webkit-transform: translateY(-200%) rotate(135deg) !important;
	-ms-transform: translateY(-200%) rotate(135deg) !important;
	transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
	transform: translate3d(0px, 0px, 0px);
}

.menuppal {
	background-color: rgba(255, 255, 255, 0.95);
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	transform: translate3d(0px, -100%, 0px);
	transition: 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
	width: 60%;
	z-index: 1001;
}

.menuppal ul {
	margin: 0;
	padding: 0;
}

.menuppal ul li {
	list-style: none;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 2 rem;
	line-height: 15em;
	height: 4em;
	color: #369;
	text-transform: none;
	font-weight: bold;
	padding: 15px;
}

.menuppal ul li a {
	text-decoration: none;
	color: rgb(15, 18, 20);
}

.menuppal ul li a:hover {
	text-decoration: none;
	color: #333;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

html,
body,
#map {
	height: 100%;
}

#home {
	margin: 0;
	padding: 0;
}

.navbar a {
	/* background: black; */
	font-size: 2rem;
}

#search {
	position: relative;
}

#resultado {
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 100;
	width: 100%;
}

#map {
	height: 65vh;
}

.buttons {
	width: 100vw;
	height: 10vh;
}

.btn-map {
	color: white;
	background: black;
	margin: .5rem;
	padding: .8rem;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}


/* estrellas */

.star-rating {
	direction: rtl;
	display: inline-block;
	padding: 20px;
}

.star-rating input[type="radio"] {
	display: none;
}

.star-rating label {
	color: #bbb;
	font-size: 18px;
	padding: 0;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input[type="radio"]:checked~label {
	color: #F2B600;
}

@media (max-width: 768px) {

	#search,
	#search input {
		width: 100%;
	}
}

.navbar-brand p {
	width: 89vw;
	text-align: center;
	font-size: 2rem;
	padding: 0;
	margin: 0;
}

.img {
	width: 11;
}

/*Calendario*/
.calendario{
	width: 50%;

}
.book-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #35a818;
}

h1 {
    font-family: 'Montserrat', sans-serif;
	margin: 0 0 0.25em;
	text-align: center;
}
p{
	text-align: center;
}
/*Horarios*/
.select-hora {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
	text-align: center;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: rgb(20, 19, 19);
    cursor: pointer;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Transition */
.select:hover::after {
    color: #f39c12;
}

/*Modal*/
