body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
}

#search {
    position: relative;
}

#resultado {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
    width: 100%;
}

#map {
    height: 500px;
}

@media (max-width: 768px) {
    #search,
    #search input {
        width: 100%;
    }
}