/*Mobile first*/

/*Welcome view*/
.hide {
    display: none;
}

.welcome-box {
    text-align: center;
}

.welcome-btn, .register-btn, .login-btn {
    background-color: #000000;
    margin: .7rem;
    width: 15rem;
}

.welcome-text {
    margin: 1rem;
}

/* .input-form {
    margin: 1rem;
} */

